/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */



/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(220, 17%, 14%);
  --rich-black-fogra-39: hsl(230, 17%, 10%);
  --blanched-almond: hsl(42, 94%, 75%);
  --eerie-black: hsl(0, 0%, 13%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured: hsl(0, 0%, 93%);
  --platinum: hsl(0, 0%, 91%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * typography
   */

  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 3.2rem;
  --fs-2: 2.3rem;
  --fs-3: 2rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * shadow
   */

  --shadow-1: 0 5px 20px 0 hsla(220, 17%, 14%, 0.1);
  --shadow-2: 0 16px 30px hsla(220, 17%, 14%, 0.15);
  --shadow-3: 0 16px 40px hsla(220, 17%, 14%, 0.1);

  /**
   * border radius
   */

  --radius-pill: 500px;
  --radius-8: 8px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
data,
button,
ion-icon { display: block; }

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--eerie-black);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: var(--platinum); }

::-webkit-scrollbar-thumb { background-color: var(--light-gray); }

::-webkit-scrollbar-thumb:hover { background-color: var(--eerie-black); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3 {
  color: var(--rich-black-fogra-29);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.btn {
  max-width: max-content;
  padding: 10px 30px;
  border-radius: var(--radius-pill);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  transition: var(--transition-1);
}

.btn-primary {
  background-color: var(--blanched-almond);
  color: var(--rich-black-fogra-29);
}

.btn-primary:is(:hover, :focus-visible) {
  background-color: var(--eerie-black);
  color: var(--blanched-almond);
}

.btn-secondary {
  background-color: var(--rich-black-fogra-29);
  color: var(--blanched-almond);
}

.btn-secondary:is(:hover, :focus-visible) {
  background-color: var(--blanched-almond);
  color: var(--rich-black-fogra-29);
}

.w-100 { width: 100%; }

.text-center { text-align: center; }

.section-text { font-size: var(--fs-4); }

.grid-list {
  display: grid;
  gap: 30px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-reveal] {
  opacity: 0;
  transition: var(--transition-2);
}

[data-reveal].revealed { opacity: 1; }

[data-reveal="left"] { transform: translateX(-50px); }

[data-reveal="right"] { transform: translateX(50px); }

[data-reveal="top"] { transform: translateY(-50px); }

[data-reveal="bottom"] { transform: translateY(50px); }

[data-reveal="left"].revealed,
[data-reveal="right"].revealed,
[data-reveal="top"].revealed,
[data-reveal="bottom"].revealed { transform: translate(0); }




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  z-index: 4;
}

.header.active {
  position: fixed;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  padding-block: 15px;
  animation: slideIn 0.6s var(--cubic-in-out) forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img { width: 100px; }

.nav-open-btn {
  font-size: 30px;
  color: var(--rich-black-fogra-29);
}

.navbar {
  position: fixed;
  top: 0;
  left: -280px;
  background-color: var(--rich-black-fogra-39);
  color: var(--white);
  max-width: 280px;
  width: 100%;
  height: 100vh;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  visibility: hidden;
  transition: 0.3s var(--cubic-in-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  border-block-end: 1px solid hsla(0, 0%, 100%, 0.1);
}

.navbar-list { margin-block: 20px auto; }

.navbar-link {
  font-size: var(--fs-4);
  padding-block: 8px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) { color: var(--blanched-almond); }

.navbar .btn {
  background-color: var(--blanched-almond);
  color: var(--rich-black-fogra-29);
  text-align: center;
}

.navbar .btn:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--rich-black-fogra-29);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--rich-black-fogra-29);
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-1);
}

.overlay.active {
  pointer-events: all;
  opacity: 0.7;
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: calc(var(--section-padding) + 120px);
  padding-block-end: var(--section-padding);
  background-color: var(--cultured);
  text-align: center;
}

.hero-banner {
  max-width: 480px;
  margin-inline: auto;
  margin-block-end: 50px;
}

.hero-banner img { border-radius: 20px; }

.hero-text {
  max-width: 500px;
  margin-inline: auto;
  margin-block: 20px 30px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about-banner {
  max-width: 450px;
  margin-inline: auto;
  margin-block-end: 50px;
}

.about-banner img { border-radius: 20px; }

.about-text { margin-block: 20px 30px; }

.about .wrapper {
  justify-content: unset;
  gap: 10px;
  margin-block-end: 30px;
}

.about .wrapper .text {
  color: var(--blanched-almond);
  background-color: var(--rich-black-fogra-29);
  padding: 8px 15px;
  border-radius: var(--radius-pill);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.skill-item { margin-block-end: 20px; }

.skill-item > .wrapper { margin-block-end: 8px; }

.skill-progress-bg {
  background-color: var(--cultured);
  height: 8px;
  border-radius: var(--radius-pill);
  overflow: hidden;
}

.skill-progress-fill {
  background-color: var(--blanched-almond);
  height: 100%;
  border-radius: var(--radius-pill);
}





/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project { background-color: var(--cultured); }

.project .section-text { margin-block: 15px 50px; }

.project-card {
  background-color: var(--white);
  border-radius: var(--radius-8);
  overflow: hidden;
  box-shadow: var(--shadow-1);
}

.project-card .card-content { padding: 20px; }

.project-card .card-cat {
  color: var(--blanched-almond);
  background-color: var(--eerie-black);
  padding: 5px 15px;
  border-radius: var(--radius-pill);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  width: max-content;
  margin-block-end: 15px;
}

.project-card .card-title {
  margin-block-end: 10px;
  transition: var(--transition-1);
}

.project-card .card-title:is(:hover, :focus-visible) { color: var(--blanched-almond); }

.project-card .card-text { margin-block-end: 10px; }

.project-card .wrapper {
  justify-content: flex-start;
  gap: 20px;
  color: var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.project-card .separator {
  background-color: var(--light-gray);
  width: 1px;
  height: 15px;
}

.project-card .card-link {
  color: var(--eerie-black);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition-1);
}

.project-card .card-link:is(:hover, :focus-visible) { color: var(--blanched-almond); }





/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact-card {
  background-color: var(--cultured);
  border-radius: var(--radius-8);
  padding: 40px 20px;
  box-shadow: var(--shadow-3);
  margin-block-start: 50px;
}

.contact-card .card-content { margin-block-end: 30px; }

.contact-card .card-icon {
  background-color: var(--blanched-almond);
  color: var(--rich-black-fogra-29);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-8);
  font-size: 28px;
  margin-block-end: 15px;
}

.contact-card .section-title { margin-block-end: 15px; }

.contact-list { margin-block-start: 30px; }

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-block-end: 20px;
}

.contact-item:last-child { margin-block-end: 0; }

.contact-item .item-icon {
  color: var(--blanched-almond);
  font-size: 22px;
  padding: 10px;
  border-radius: var(--radius-8);
  background-color: var(--eerie-black);
}

.contact-item .item-text { margin-block-end: 5px; }

.contact-item .item-link {
  color: var(--blanched-almond);
  transition: var(--transition-1);
}

.contact-item .item-link:is(:hover, :focus-visible) { color: var(--eerie-black); }

.contact-form .input-field {
  background-color: var(--white);
  padding: 12px 15px;
  border-radius: var(--radius-8);
  color: var(--rich-black-fogra-29);
  font-size: var(--fs-6);
  margin-block-end: 15px;
  outline: none;
}

.contact-form .input-field::placeholder { color: var(--eerie-black); }

.contact-form .input-field:focus { box-shadow: var(--shadow-1); }

textarea.input-field {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.contact-form .btn { width: 100%; }





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--rich-black-fogra-29);
  color: var(--platinum);
  padding-block: 40px;
  text-align: center;
}

.footer .logo img { margin-inline: auto; }

.footer-text { margin-block: 20px; }

.copyright-link {
  display: inline-block;
  color: var(--blanched-almond);
  font-weight: var(--fw-500);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  color: var(--platinum);
  font-size: 20px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) { color: var(--blanched-almond); }





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    margin-inline: auto;
  }

  .h1 { --fs-1: 4.5rem; }
  .h2 { --fs-2: 3rem; }
  .h3 { --fs-3: 2.2rem; }

  .hero { text-align: left; }

  .hero-banner { margin-inline: 0; }

  .wrapper { justify-content: flex-start; }

  .about-banner { margin-inline: 0; }

  .project .section-text {
    max-width: 600px;
    margin-inline: auto;
  }

  .project-card .card-content { padding: 30px; }

  .contact-card {
    padding: 50px 30px;
    margin-block-start: 80px;
  }

  .contact-form .wrapper { gap: 20px; }

  .contact-form .input-field { margin-block-end: 0; }

  .footer .logo img { margin-inline: 0; }

  .footer-text { margin-block-end: 0; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6rem;

  }

  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .grid-list { grid-template-columns: 1fr 1fr; }

  .btn { padding: 12px 35px; }

  .header.active { padding-block: 20px; }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .hero .wrapper { justify-content: flex-start; }

  .hero-banner { margin-block-end: 0; }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }

  .about-text { margin-block-end: 0; }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
  }

  .contact-card { margin-block-start: 0; }

  .footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .navbar {
    position: static;
    visibility: visible;
    transform: translateX(0);
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    height: auto;
    padding: 0;
  }

  .navbar-top,
  .navbar .btn,
  .overlay,
  .nav-open-btn { display: none; }

  .navbar-list {
    margin-block: 0;
    display: flex;
    gap: 30px;
  }

  .navbar-link {
    color: var(--rich-black-fogra-29);
    font-weight: var(--fw-500);
  }

  .navbar-link:is(:hover, :focus-visible) { color: var(--blanched-almond); }

  .header { padding-block: 35px; }

  .header.active { padding-block: 25px; }

  .hero { gap: 80px; }

  .project .section-text { margin-block-end: 60px; }

  .contact-card { padding: 60px 40px; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 7rem;
    --fs-2: 3.5rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;

  }

  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }

  .header {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1140px;
    border-radius: var(--radius-pill);
    padding-inline: 40px;
    box-shadow: var(--shadow-2);
  }

  .header.active {
    top: 0;
    left: 0;
    transform: translateX(0);
    border-radius: 0;
    box-shadow: var(--shadow-1);
    padding-inline: 15px;
  }

  .navbar-list { gap: 50px; }

  .hero-banner { margin-block-end: 0; }

  .hero { gap: 120px; }

  .about { gap: 100px; }

  .project .grid-list { grid-template-columns: repeat(3, 1fr); }

  .contact { gap: 100px; }

  .contact-form .input-field { padding: 15px 20px; }

}