<footer>
  <div class="container">
    <p>© <span id="year"></span> Shubham Deshmukh. All rights reserved.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/shubham-deshmukh-profile" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/protheus_shubh" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/ShubhamDeshmuk-h" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <p>Designed with ❤️ by Shubham Deshmukh</p>
  </div>
</footer>