<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Deshmukh | Portfolio</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../assets/images/profile.jpg" alt="Shubham Deshmukh Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="../pages/index.html">Home</a></li>
                    <li><a href="../pages/achievements.html">Achievements</a></li>
                    <li><a href="../pages/tech-stack.html">Tech Stack</a></li>
                    <li><a href="../pages/repositories.html">Repositories</a></li>
                    <li><a href="../pages/certifications.html">Certifications</a></li>
                    <li><a href="../pages/contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>